main.about {
  padding: 2rem 5rem;
}
main.about h2 {
  padding-left: 2rem;
  margin-bottom: 5px;
}
main.about h2 i {
  margin-right: 5px;
  font-size: 1.5rem;
}
main.about p {
  font-size: 1.6rem;
  display: inline-block;
  padding: 0 5rem;
}
main.about p:first-of-type {
  padding-left: 2rem;
}

.team__container {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem;
}
.team__item {
  flex: 0 0 33.33%;
  padding: 3rem;
  text-align: center;
}
.team__item img {
  height: 25rem;
  width: 25rem;
  border-radius: 50%;
  display: block;
  margin: auto;
}
.team__item i {
  font-size: 2rem;
}
