.nav {
  width: 100%;
  font-size: 1.8rem;
  background-color: #222;
  position: relative;
  z-index: 100;
}

.nav__list {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  height: 6rem;
}
.nav__list-item {
  display: block;
  padding: 1.5rem;
  color: #eee;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: 0.1s;
}
.nav__list-item:hover {
  color: #222;
  background-color: #eee;
}
.nav__list-item:hover .nav__sublist {
  transform: translateX(0px);
  opacity: 1;
  visibility: visible;
}
.logo {
  width: 12.5rem;
  height: 12.5rem;
}
.nav__sublist {
  position: absolute;
  top: 6rem;
  left: 0;
  transform: translateX(30px);
  background-color: #444;
  color: #eee;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.banner__container {
  width: 100%;
  height: 80vh;
  position: relative;
}

.social__list {
  position: absolute;
  right: 2%;
  top: 5%;
  color: #fff;
  display: flex;
  flex-flow: column;
  background-color: #444;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 1rem;
}
.social__list-item {
  margin: 1rem 0;
}
.social__list-item span {
  display: block;
  border-radius: 50%;
  border: 1.5px solid #eee;
  padding: 0.8rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
}
.social__list-item span:hover {
  background-color: #eee;
  color: #222;
}
.social-icon {
  font-size: 2rem;
}
