html {
  width: 100vw;
  height: 100vh;
  font-size: 75%;
}
@media (max-width: 1920px) {
  html {
    font-size: 62.5%;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 800px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 45%;
  }
}

/* 650px for mobile view */
.h1_about{
  font-weight: 2800 !important;
      text-transform: uppercase;
      letter-spacing: 2px;
      color : black;
      text-align: center;
      font-size: 3rem;
    }
    
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
i {
  color: inherit;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
