section.values {
  display: flex;
  background-image: url("../assets/background_1.jpg");
  background-size: cover;
  background-position: 0 -160px;
  margin: 5rem 0;
}

.values__container {
  flex: 1;
  padding: 2rem;
  color: #fff;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.values__container h1 {
  font-size: 2rem;
}
.values__container p {
  font-size: 1.4rem;
}
.container--red {
  background-color: #e3162edb;
}
.container--blue {
  background-color: #2777b9bf;
}
.container--black {
  background-color: #1a4965bf;
}
